[Unit]
Description=pizero-jukebox service
After=bluetooth.service

[Service]
ExecStart=%h/pizero-jukebox/main.py -m %i

[Install]
WantedBy=default.target
